{% extends "base.html" %}

{% block content %}
<h2 align="center" class="m-3">Users</h2>

<div class="">
    {% for item in users %}
    <div>
        <p class=""><b>Nickname:</b> {{ item.nickname }}</p>
        <p class=""><b>Email:</b> {{ item.email }}</p>
        <div>
            {% if not item.moderator %}
            {% if item.banned %}
            <a href="/user_unban/{{ item.id }}" class="btn-sm btn btn-outline-primary">Unban user</a>
            {% else %}
            <a href="/user_ban/{{ item.id }}" class="btn-sm btn btn-outline-warning">Ban user</a>
            {% endif %}
            <a href="/user_delete/{{ item.id }}" class="btn-sm btn btn-outline-danger">Delete user</a>
            {% endif %}
        </div>
    </div><hr>
    {% endfor %}
</div>

{% endblock %}